* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: $roboto;
  font-size: 14px;
  // color: $color-light-90;
  background: $color-raapp-bg;
  color: $color-raapp-text;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $color-light-35;
  border: 2px solid $color-white;

  &:hover {
    background: $color-light-45;
  }
}

::-webkit-scrollbar-corner {
  background: $color-white;
}

audio {
  max-width: 100%;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-black;
  opacity: 0.25;
  z-index: 200;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
}
.clearfix:after {
  clear: both;
}

.hide {
  display: none;
}

button {
  cursor: pointer;
  font-size: inherit;
}
button.grey {
  border-radius: $border-radius;
  border: solid 1px #ccc;
  cursor: pointer;
  margin: 1em auto;
  padding: 1em;
  font-family: inherit;
  color: $grey;
  background: $grey_l;
  box-shadow: 0 0 10px -5px rgba($grey, 0.5);

  &:hover {
    box-shadow: 0 0 10px -3px rgba($grey, 0.7);
  }

  &[disabled='disabled'] {
    &,
    &:hover {
      opacity: 0.5;
      box-shadow: none;
      cursor: default;
    }
  }
}

a {
  color: $blue;
}

.file-input {
  position: relative;
  .choose-file {
    cursor: pointer;
  }

  .paperclip {
    width: 36px;
    height: 36px;
    padding: 0;
    opacity: 0.5;
    border: none;
    background: transparent;
    margin-top: 2px;

    &:before {
      margin-top: 4px;
      content: '';
      display: inline-block;
      width: $button-height;
      height: $button-height;
      @include color-svg('../images/paperclip.svg', $grey);
      transform: rotateZ(-45deg);
    }

    &:focus,
    &:hover {
      opacity: 1;
    }
  }

  input[type='file'] {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
  }
}

.group-member-list,
.new-group-update {
  .summary {
    margin: 10px;
  }

  .members .contact {
    box-shadow: none;
    border-bottom: 1px solid #eee;
    .last-message,
    .last-timestamp {
      display: none;
    }
  }
}

$unread-badge-size: 21px;

.banner {
  z-index: 100;

  // what's the right color?
  background-color: $blue_l;
  color: black;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 25px;
  right: 30px;
  left: 30px;

  padding: 5px 25px 5px 10px;

  text-align: center;
  border-radius: 10px;

  cursor: pointer;

  .warning {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: text-bottom;
    @include color-svg('../images/warning.svg', black);
  }

  .dismiss {
    position: absolute;
    right: 3px;
    top: 3px;

    height: 23px;
    width: 23px;
    @include color-svg('../images/x.svg', black);
  }
}

$loading-height: 16px;

.loading {
  position: relative;
  &::before {
    display: block;
    margin: 0px auto;
    content: ' ';
    height: $loading-height;
    width: $loading-height;
    border-radius: 2 * $loading-height;
    border: solid 3px;
    border-color: $blue_l $blue_l $grey_l $grey_l !important;
    animation: rotate 1s linear infinite;
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
}

.x {
  display: inline-block;
  float: right;
  cursor: pointer;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 3px;
  background: $grey;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    @include color-svg('../images/x.svg', white);
  }
}

.expiredAlert {
  background: #f3f3a7;
  padding: 10px;

  button {
    float: right;
    border: none;
    border-radius: $border-radius;
    color: white;
    font-weight: bold;
    line-height: 36px;
    padding: 0 20px;
    background: $blue;
    margin-left: 20px;
  }

  .message {
    padding: 10px 0;
  }
}

@keyframes loading {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.app-loading-screen {
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-raapp-bg;
  color: $color-raapp-text;
  // background-color: $color-signal-blue;
  // color: $color-white;
  display: flex;
  align-items: center;
  user-select: none;
  height: 100%;

  .content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    img{
      height: 300px;
      width: 300px;
    }
    .header{
      font-family: $poppins-bold;
      font-weight: bold;
      font-size: 35px;
      color: $color-raapp-text;
      margin-top: 69px;
    }
  }
  .footer{
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 40px;
    font-size: 13px;
    color: $footer-text-color;
    font-family: $opensans-regular;
    span{
      color: $link-color;
    }
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 78px;
    height: 22px;
  }
  .message {
    -webkit-user-select: text;
    // max-width: 35em;
    font-family: $poppins-regular;
    font-size: 40px;
    color: $color-raapp-text;
    max-width: 850px;
    margin: 32px auto;
  }

  .dot {
    width: 14px;
    height: 14px;
    border: 3px solid $blue; // $color-white;
    border-radius: 50%;
    float: left;
    margin: 0 6px;
    transform: scale(0);

    animation: loading 1500ms ease infinite 0ms;
    &:nth-child(2) {
      animation: loading 1500ms ease infinite 333ms;
    }
    &:nth-child(3) {
      animation: loading 1500ms ease infinite 666ms;
    }
  }
}

.full-screen-flow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: roboto-light;

  &.overlay {
    // .modal, used for the settings view, is 100
    z-index: 200;
  }

  color: $color-raapp-text; // black;
  a {
    color: $blue;
  }
  background-color: $color-raapp-bg;
  /*
  background: linear-gradient(
    to bottom,
    /* (1 - 0.41) * 255 + 0.41 * 213* / rgb(238, 238, 238) 0%,
    /* (1 - 0.19) * 255 + 0.19 * 191* / rgb(243, 243, 243) 12%,
    rgb(255, 255, 255) 27%,
    rgb(255, 255, 255) 60%,
    /* (1 - 0.19) * 255 + 0.19 * 222* / rgb(249, 249, 249) 85%,
    /* (1 - 0.27) * 255 + 0.27 * 98 * / rgb(213, 213, 213) 100%
  );
  */
  display: flex;
  align-items: center;
  text-align: center;

  font-size: 10pt;
  input {
    margin-top: 1em;
    font-size: 12pt;
    font-family: roboto-light;
    border: 2px solid $blue;
    padding: 0.5em;
    text-align: center;
    width: 20em;
  }

  @media (min-height: 750px) and (min-width: 700px) {
    font-size: 14pt;

    input {
      font-size: 16pt;
    }
  }

  #qr {
    display: inline-block;

    &.ready {
      border: 5px solid $blue;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    img {
      height: 20em;
      border: 5px solid white;
    }

    @media (max-height: 475px) {
      img {
        width: 8em;
        height: 8em;
      }
    }

    .dot {
      width: 14px;
      height: 14px;
      border: 3px solid $blue;
      border-radius: 50%;
      float: left;
      margin: 0 6px;
      transform: scale(0);

      animation: loading 1500ms ease infinite 0ms;
      &:nth-child(2) {
        animation: loading 1500ms ease infinite 333ms;
      }
      &:nth-child(3) {
        animation: loading 1500ms ease infinite 666ms;
      }
    }

    canvas {
      display: none;
    }
  }

  .os-icon {
    height: 3em;
    width: 3em;
    vertical-align: text-bottom;
    display: inline-block;
    margin: 0.5em;

    &.apple {
      @include color-svg('../images/apple.svg', black);
    }
    &.android {
      @include color-svg('../images/android.svg', black);
    }
  }

  .header {
    font-weight: bold;
    margin-bottom: 1.5em;

    font-size: 20pt;

    @media (min-height: 750px) and (min-width: 700px) {
      font-size: 28pt;
    }
  }

  .body-text {
    max-width: 22em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .body-text-wide {
    max-width: 30em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    height: 100%;
    width: 100%;
  }
  .step {
    height: 100%;
    width: 100%;
    padding: 70px 0 50px;
  }
  .step-body {
    margin-left: auto;
    margin-right: auto;
    max-width: 35em;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  .banner-image {
    margin: 1em;
    display: none;

    @media (min-height: 550px) {
      display: inline-block;
      height: 10em;
      width: 10em;
    }
  }

  .banner-icon {
    display: none;
    margin: 1em;

    // 640px by 338px is the smallest the window can go
    @media (min-height: 550px) {
      display: inline-block;
      height: 10em;
      width: 10em;
    }

    // generic
    &.check-circle-outline {
      @include color-svg('../images/check-circle-outline.svg', #dedede);
    }
    &.alert-outline {
      @include color-svg('../images/alert-outline.svg', #dedede);
    }

    // import and export
    &.folder-outline {
      @include color-svg('../images/folder-outline.svg', #dedede);
    }
    &.import {
      @include color-svg('../images/import.svg', #dedede);
    }
    &.export {
      @include color-svg('../images/export.svg', #dedede);
    }

    // registration process
    &.lead-pencil {
      @include color-svg('../images/lead-pencil.svg', #dedede);
    }
    &.sync {
      @include color-svg('../images/sync.svg', #dedede);
    }

    // delete
    &.alert-outline-red {
      @include color-svg('../images/alert-outline.svg', red);
    }
    &.delete {
      @include color-svg('../images/delete.svg', #dedede);
    }
  }

  .button {
    cursor: pointer;
    display: inline-block;
    border: none;
    min-width: 300px;
    padding: 0.2em;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: white;
    // background: $blue;
    background: rgb(0, 90, 245);
    background: linear-gradient(
        90deg,
        #005af5 0%,
        #005af5 34%,
        #025ff1 43%,
        #086ee6 54%,
        #1286d4 66%,
        #20a8ba 79%,
        #33d49b 91%,
        #50dc8c 93%,
        #84ec74 97%,
        #99f26b 99%,
        #99f26b 100%
      )
      0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    height: 30px;
    font-size: 12pt;
    &.disabled {
      cursor: default;
      background: rgb(127, 172, 250);
      background: linear-gradient(
          90deg,
          #005af5 0%,
          #015df2 18%,
          #0567eb 32%,
          #0c78de 46%,
          #1690cc 58%,
          #23afb5 70%,
          #33d49b 82%,
          #34d49a 90%,
          #3bd696 93%,
          #47da91 95%,
          #58de89 97%,
          #6ee57f 98%,
          #88ed72 99%,
          #99f26b 100%
        )
        0% 0% no-repeat padding-box;
      opacity: 0.5;
    }
    &.neutral {
      color: black;
      background: #dedede;
    }
    &.destructive {
      background: red;
    }
    @media (min-height: 750px) and (min-width: 700px) {
      font-size: 14pt;
    }
  }
  a.link {
    display: block;
    cursor: pointer;
    text-decoration: underline;
    margin: 0.5em;
    color: #2090ea;
  }
  .progress {
    text-align: center;
    padding: 1em;
    width: 80%;
    margin: auto;
    .bar-container {
      height: 1em;
      margin: 1em;
      background-color: $grey_l;
    }
    .bar {
      width: 100%;
      height: 100%;
      background-color: $blue_l;
      transition: width 0.25s;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
  .nav {
    width: 100%;
    bottom: 50px;
    margin-top: auto;
    padding-bottom: 2em;
    padding-left: 20px;
    padding-right: 20px;

    .instructions {
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2em;
      margin-top: 2em;
      max-width: 30em;
    }
    .instructions:after {
      clear: both;
    }
    .android {
      float: left;
    }
    .apple {
      float: right;
    }
    .label {
      float: left;
    }
    .body {
      float: left;
    }
  }
}
// yellow border fix
.inbox:focus {
  outline: none;
}
.inbox {
  position: relative;
}
.overflow-hidden {
  overflow: hidden;
}
$debug: 0;

.content-column,
.content-row {
  width: 100%;
  height: 100%;
  display: flex;
  order: 2;
  .content-header,
  .content-footer,
  .content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
  }
  .content-main-footer{
    position:absolute;
    width: 100%;
    left: 0;
    bottom: 0px;
  }
  .footer-copyright{
    text-align: center;
    font-size: 13px;
    font-family: $opensans-regular;
    letter-spacing: 0;
    color: #005AF5;
  }
  .footer-version{
    text-align: center;
    font-size: 13px;
    font-family: $opensans-regular;
    letter-spacing: 0;
    color: #747474;
  }
  .content-right,
  .content-left,
  .content-center {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  .logo-register{
    margin-right:58.4px;
    & .logo{
      width:300px;
      height:300px;
    }
  }
  .content-new-register{
    margin-left: 270px;
    margin-right: 40px;
  }
  .register-title{
    text-align: left;
    font-size:40px;
    font-family: $poppins;
    letter-spacing: 0;
    color: #476077;
    opacity: 1;
    font-weight: 600;
    margin-bottom: 28px;
  }
  .register-Subtitle{
    text-align: left;
    font-size:35px;
    font-family: $poppins;
    letter-spacing: 0;
    color: #476077;
    opacity: 1;
    max-width:680px;
  }
  .content-header {
    order: 1;
    min-height: 60px;
    @if $debug == 1 {
      border: 1px solid #f00;
    }
  }
  .content-footer {
    order: 999;
    // margin-top:230px;
    
    @if $debug == 1 {
      border: 1px solid #0f0;
    }
    min-height: 60px;
  }
  .content-center {
    @if $debug == 1 {
      border: 1px solid #f0f;
    }
  }
  .content-main {
    flex-grow: 2;
    &.content-main-eula{
      max-width: 1500px;
      margin: 0 auto;
      max-height: 900px;
    }
  }
  .content-center {
    order: 2;
  }
  .content-left {
    justify-content: flex-start;
    &.align-right {
      justify-content: flex-end;
      margin-right: 50px;
    }
    order: 1;
    @if $debug == 1 {
      border: 1px solid #0ff;
    }
  }
  .content-right {
    justify-content: flex-end;
    &.align-left {
      justify-content: flex-start;
    }
    order: 3;
    @if $debug == 1 {
      border: 1px solid #00f;
    }
  }
}
.content-register{
  height:auto;
  margin-left: auto;
  margin-right: auto;
}
.content-register-info{
  height:auto;
  margin-top:180px;
  margin-bottom: 80px;
}
.content-column {
  flex-direction: column;
  @if $debug == 1 {
    border: 1px solid #f3f3a7;
  }
}
.content-row {
  flex-direction: row;
  @if $debug == 1 {
    border: 1px solid #ff0;
  }
}

.content-column,
.content-row {
  .button {
    margin: 0px;
    text-align: center;
  }
  input:not([type='checkbox']) {
    text-align: left;
  }
  .content-holder {
    text-align: left;
    @if $debug == 1 {
      border: 1px solid #00abff;
    }
    border-radius: 5px; // background: #f5f5f5;
    margin: 0px 50px;
    font-size: 15px;
    /* width: 50%;
    height: 50%; */
    &.content-eula{
      margin: 0px;
    }
    
  }
  .content-logo{
    margin-left:270px;
  }

  .card {
    width: 500px;
    max-width:500px;
    .card-header {
      white-space: pre-line;
      margin: -50px;
      margin-bottom: 49px;
      // padding: 30px 10px;
      padding: 30px 10px 10px 10px;
      // padding-top: 30px;
      text-align: center;
      color: #fff;
      // background: rgb(0, 90, 245);
      // background: linear-gradient(
      //     0deg,
      //     #005af5 0%,
      //     #015df2 18%,
      //     #0567eb 32%,
      //     #0c78de 46%,
      //     #1690cc 56%,
      //     #23afb5 66%,
      //     #33d49b 85%,
      //     #34d49a 90%,
      //     #3bd696 93%,
      //     #47da91 95%,
      //     #58de89 97%,
      //     #99f26b 100%
      //   )
      //   0% 0% no-repeat padding-box;
      background: transparent linear-gradient(0deg, #005AF5 0%, #015DF2 18%, #0567EB 32%, #0C78DE 46%, #1690CC 56%, #23AFB5 66%, #33D49B 85%, #34D49A 90%, #3BD696 93%, #47DA91 95%, #58DE89 97%, #99F26B 100%) 0% 0% no-repeat padding-box;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 70px;
      .title{
        font-size: 20px;
        font-family: $poppins-bold;
      }
      .subtitle {
        margin-top: 10px;
        font-weight: normal;
        font-size: 17px;
      }
    }
    .button {
      width: 100%;
      font-size: 15px;
      margin-top: 34px;
      height: 40px;
      margin-bottom: 20px;
      padding: 8px;
      font-family: $poppins-regular;
    }
    &.register {
      height: 310px;
      width:670px;
      margin: 0px;
    }
    background: #fff;
    // border: 1px solid #c1c9cd;
    border-radius: 5px;
    // box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
    padding: 50px;
    width: 660px;
    .div-title-register{
      @include titleRegister;
    }
    .div-welcome{
      @include welcomeMessage;
    }
    .empty-div{
      height: 50px;
    }
  }
  .action-link {
    // margin: 10px;
    margin: 10px 10px 20px 10px;
    text-align: center;
    text-decoration: underline;
    > a {
      cursor: pointer;
      color: $link-color;
      font-size: 14px;
      font-family: $poppins-regular;
      
    }
  }
  .setup-form {
    width: 600px;
  }
  .eula-text {
    width: 100%;
    height: 100%;
    text-align: justify;
    border-bottom: 1px solid #c1c9cd;
    overflow-y: scroll;
    font-size:18px;
    font-family: $poppins;
    max-width: unset;
  }
  .eula-title {
    letter-spacing: 0;
    color: #005af5;
    opacity: 1;
    font-size:22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .eula-Subtitle {
    text-align: left;
    letter-spacing: 0;
    color: #005AF5;
    opacity: 1;
    font-size: 15px;
  }
  .eula-content{
    white-space: pre-wrap;
  }
  .input-code{
    height: 60px;
    margin-top: unset;
    margin-bottom:unset;
  }
  
  .upload-avatar{
    display:flex;
    .select-avatar{
      width: 76px;
      height: 76px;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 50%;
      opacity: 1;
    }
    .text-upload-avatar{
      margin-left:36px;
      width:130px;
      text-align: left;
      letter-spacing: 0;
      color: #B1BBC0;
      text-transform: uppercase;
      opacity: 1;
      font-weight:500;
      font-size: 13px !important;
      font-family: $poppins-medium;
      width: 134px;
    }

  }
  .code-label, .label-text{
    text-align: left;
    letter-spacing: 0;
    color: #B1BBC0;
    text-transform: uppercase!important;
    opacity: 1;
    font-size: 15px;
    font-weight:500!important;
    font-family: $poppins-medium !important;
    margin-bottom: 14px;
  }
 
  .labelsInput{
    top: -100px !important;
  }

  .inputsRegister{
    height: 30px;
    margin: 20px 0px 29px;
  }
  .upload-div{
    display: flex;
    img{
      height: 45px;
      width: 45px;
      min-width: 45px;
      min-height: 45px;
      vertical-align: middle;
      margin-top: -4px;
      margin-right: 23px;
      cursor: pointer;
    }
    span{
      color: $placeholder-color;
    }
  }
  .label-inputs {
    color: $placeholder-color;
    text-transform: uppercase;
    @include font15-poppinsMedium;
  }

  #phone-number-input {
    margin: 20px 0px 10px;
    .intl-tel-input {
      display: block;
    }
    & + label {
      display: block;
      height: 0px;
      position: relative;
      top: -60px;
      font-weight: bold;
      width: 100%;
      color: $placeholder-color;
      text-transform: uppercase;
      @include font15-poppinsMedium;
    }
  }

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type='number'] {
      -moz-appearance: textfield;
    }
  }
  input,
  select {
    &:focus {
      outline: none;
    }
    font-size: 12px;
    width: 100%;
    height: 26px;
    margin: 20px 0px 10px;
    &[type='checkbox'] {
      width: 15px;
      height: 15px;
      position: relative;
      top: 0px;
      margin: 0px;
    }
    border: none;
    border-bottom: 1px solid #707070;
    background: #fff;
    padding: 5px;
    &:invalid,
    &:required {
      box-shadow: none;
    }
    &:not([type='checkbox']) + label {
      transition: opacity 0.5s, transform 1s;
      text-align: left;
      display: block;
      position: relative;
      top: -55px;
      height: 0px;
      width: 100%;
      font-weight: bold; // opacity: 0.7;
      font-size: 15px;
    }
    &.errored {
      color: red;
      box-shadow: 0 0 3px red;
      &::placeholder {
        color: red;
      }
      & + label {
        color: red;
      }
    }
    &:placeholder-shown + label {
      opacity: 0;
    }
    &:focus + label {
      opacity: 1;
    }
  }
}
